
@if (Model != null)
{
    <div class="row p-1 pb-4">
        <ul style="list-style-type:none; column-count:2;">
            <li>
                <label>
                    <input type="checkbox" @bind-value="Model.IncludeLowercase" checked="@Model.IncludeLowercase" />
                    Include Lowercase
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" @bind-value="Model.IncludeUppercase" checked="@Model.IncludeUppercase" />
                    Include Uppercase
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" @bind-value="Model.IncludeNumbers" checked="@Model.IncludeNumbers" />
                    Include Number
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" @bind-value="Model.IncludeSpecialChars" checked="@Model.IncludeSpecialChars" />
                    Include Special Characters
                </label>
            </li>
        </ul>
    </div>
    <div class="row p-1 pb-4">
        <label>Length: @Model.PasswordLength</label>
        <input type="range" class="form-range" min="1" max="100" value="@Model.PasswordLength" @oninput="@((arg) => LengthChanged(int.Parse(arg?.Value?.ToString() ?? "8")))" />
        @if (Model.PasswordLength < 8)
        {
            <small class="text-warning">Recommended minimum length is 8 characters.</small>
        }
    </div>
    <div class="row p-1 pb-4">
        <div class="input-group">
            <input type="text" class="form-control" @bind-value="Model.Password" />
            <button class="btn btn-outline-primary" @onclick="Copy">
                <span class="oi oi-clipboard"></span>
            </button>
            <button class="btn btn-outline-success" @onclick="Model.GeneratePassword">
                <span class="oi oi-reload"></span>
            </button>
        </div>
    </div>
}
