@using PassApp.Web.Components.Buttons;

<tbody>
    @if (Model?.Headers?.Any(x => x.Filter != TableHeaderModel.FilterType.None) ?? false)
    {
        <tr>
            @foreach (var header in Model.Headers)
            {
                <td>
                    @if (header.Filter == TableHeaderModel.FilterType.Text)
                    {
                        <input class="form-control form-control-sm" @oninput="@((value) => OnFilterText(Model.Headers.IndexOf(header), value?.Value?.ToString()))" />
                    }
                </td>
            }
        </tr>
    }
    @foreach (var row in (Model?.Items ?? Enumerable.Empty<TableBodyModel>()))
    {
        <tr class="hover-table">
            @foreach (var cell in (row?.Content ?? Enumerable.Empty<TableCellModel>()))
            {
                @if (Model?.Headers?[row?.Content?.IndexOf(cell) ?? 0].Column == TableHeaderModel.ColumnType.Link)
                {
                    <td class="table-content-overflow">
                        @if (string.IsNullOrEmpty(cell.Link))
                        {
                            @((MarkupString)(cell.Text ?? string.Empty))
                        }
                        else
                        {
                            <a href="@(cell.Link)" target="_blank">@cell.Text</a>
                        }
                    </td>
                }
                else if (Model?.Headers?[row?.Content?.IndexOf(cell) ?? 0].Column == TableHeaderModel.ColumnType.Email || Model?.Headers?[row?.Content?.IndexOf(cell) ?? 0].Column == TableHeaderModel.ColumnType.Password)
                {
                    <td class="table-content-overflow" @onmouseover="@(() => cell.ShowButton = true)" @onmouseleave="@(() => cell.ShowButton = false)">
                        @if (cell.ShowButton)
                        {
                            <Button BtnClass="@cell.Button?.BtnClass" BtnText="@cell.Button?.BtnText" OnClick="@(() => CopyToClipboard(cell.Button?.Parameters?[0] ?? string.Empty))" />
                        }
                        else
                        {
                            @if (Model?.Headers?[row?.Content?.IndexOf(cell) ?? 0].Column == TableHeaderModel.ColumnType.Password)
                            {
                                <input type="password" class="form-control-plaintext m-0 p-0" value="@cell.Text" readonly disabled autocomplete="off" />
                            }
                            else
                            {
                                @((MarkupString)(cell.Text ?? string.Empty))
                            }
                        }
                    </td>
                }
                else
                {
                    <td class="table-content-overflow">
                        @((MarkupString)(cell.Text ?? string.Empty))
                    </td>
                }
            }
            @if (Model?.StoredItems?.Any(x => x?.Buttons?.Any() ?? false) ?? false)
            {
                <td class="text-right user-selection-none icon-button-no-wrap">
                    @foreach (var button in (row?.Buttons ?? Enumerable.Empty<IconButtonModel>()))
                    {
                        <IconButton IconClass="@button.IconClass" IconText="@button.IconText" OnClick="@(() => OnClick(button?.Parameters))" /><span>&nbsp;</span>
                    }
                </td>
            }
        </tr>
    }
</tbody>
