@using PassApp.Web.Form
@using PassApp.Web.Validation

@if (Show)
{
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable @(Centered ? "modal-dialog-centered" : "")" role="document">
            <div class="modal-content shadow">
                <div class="py-1 modal-header">
                    <div class="col text-right p-0">
                        <button class="btn btn-outline-danger" disabled="@IsOperating" @onclick="Close">×</button>
                    </div>
                </div>
                <div class="modal-body">
                    @ChildContent
                    @if (RequireConfirmation)
                    {
                        <div class="row py-1">
                            <div class="col">
                                <small>Write "@(ConfirmationTextMatch)" to confirm the action.</small>
                                <input type="text" placeholder="@ConfirmationTextMatch" class="form-control" @bind-value="ConfirmationText" />
                            </div>
                        </div>
                    }
                </div>
                <div class="py-1 modal-footer">
                    <button class="btn btn-secondary" disabled="@IsOperating" @onclick="Close">@CloseText</button>
                    <button class="@ConfirmBtnClass" disabled="@(RequireConfirmation ? (ConfirmationText != ConfirmationTextMatch || IsOperating) : IsOperating)" @onclick="Confirm">
                        @if (IsOperating)
                        {
                            <span class="spinner-border spinner-border-sm"></span>
                        }
                        @ConfirmText
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop show"></div>
}