
@if (Show)
{
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog @(Centered ? "modal-dialog-centered" : "")" role="document">
            <div class="modal-content shadow">
                <div class="py-1 modal-header">
                    <div class="col text-right p-0">
                        <button class="btn btn-outline-danger" disabled="@IsOperating" @onclick="Close">×</button>
                    </div>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="py-1 modal-footer">
                    <button class="btn btn-secondary" disabled="@IsOperating" @onclick="Close">@CloseText</button>
                    <button class="@ConfirmBtnClass" disabled="@IsOperating" @onclick="Confirm">
                        @if (IsOperating)
                        {
                            <span class="spinner-border spinner-border-sm"></span>
                        }
                        @ConfirmText
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop show"></div>
}