@using PassApp.Web.Buttons

@if (Model != null)
{
    <div class="m-0 p-0 mb-3">
        <table class="table table-sm table-borderless">
            <CascadingValue Value="this">
                @if (Model.StoredItems?.Any() ?? false)
                {
                    <TableHeader Model="Model" />
                    <TableBody Model="Model" Action="Action" />
                }
                <TableFooter Model="Model" Action="Action" />
            </CascadingValue>
        </table>
        <hr />
        @if (Model.HasPaging)
        {
            <div class="m-0 p-2" style="user-select:none;">
                @if (Model.CurrentPage != 1)
                {
                    <IconButton IconClass="oi oi-media-step-backward text-primary" IconText="Start" OnClick="@(() => ChangePage(1))" /><span>&nbsp;</span>
                    <IconButton IconClass="oi oi-media-skip-backward text-primary" IconText="Back" OnClick="@(() => ChangePage(Model.CurrentPage - 1))" />
                }
                <span class="px-2">@($"{Model.CurrentPage} of {Model.NumberOfPages}")</span>
                @if (Model.CurrentPage != Model.NumberOfPages)
                {
                    <IconButton IconClass="oi oi-media-skip-forward text-primary" IconText="Next" OnClick="@(() => ChangePage(Model.CurrentPage + 1))" /><span>&nbsp;</span>
                    <IconButton IconClass="oi oi-media-step-forward text-primary" IconText="End" OnClick="@(() => ChangePage(Model.NumberOfPages))" />
                }
            </div>
        }
    </div>
}
